*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Environment variables
.env

# Private key files
.pem

# Pre-commit config
.pre-commit-config.yaml